<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="trace" xsi:type="File" fileName="logs/trace-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${exception:format=ToString} ${newline} ${literal}--------------------------------------------------------${literal} ${newline} ${newline}" />
    <target name="error" xsi:type="File" fileName="logs/error-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${newline} ${message} ${exception:format=ToString} ${newline} ${literal}--------------------------------------------------------${literal} ${newline} ${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>

</nlog>